.cont {
  display: flex;
  flex-direction: row;
  margin: 40px;
  margin-top: -70px;
}

p {
  margin: 2px;
  margin-right: 7px;

}

.btn {
  width: 100px;
}

.border-staff{
  border: 3px solid blue;
}

.border-manager{
  border: 3px solid #da14da;
}

.border-admin{
  border: 3px solid #b155ee;
}